<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#run").click(function(){
      if ((document.getElementById('email').value == "") && ($("input[name=mode]:checked").val()=="wesa")) {
        document.getElementById('emailwarn').innerHTML = "This field is mandatory for structure predictions";
      } else {
        document.getElementById('emailwarn').innerHTML = ""
        $.get("runworkflow",
        {
            //pdbids:document.getElementById('pdbids').value,
            //fastafile:document.getElementById('fastafile').value,
            aaseq:document.getElementById('aaseq').value,
            //pdbfiles:document.getElementById('pdbfiles').value,
            mode:$("input[name=mode]:checked").val()

        },
        function (data, status) {
            document.getElementById('userresult').innerHTML = data
        });
      }
  });
});
</script>
</head>
<body>
<h1>[Seq]uence based [D]etection of [H]eme [B]inding [M]otifs</h1>
<p>Instructions: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<!--
Examples for website design:
http://pipe.scs.fsu.edu/wesa/
http://www.cbs.dtu.dk/services/NetSurfP/
https://zhanglab.ccmb.med.umich.edu/I-TASSER/

-->
{% if variablename %}
    <ul>
    {% for question in variablename %}
        <li><a href="/polls/{{ question }}/">{{ question }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No variables are available.</p>
{% endif %}
<hl> <!--Disabling controls that will first be used in future versions -->
<p>Enter your email address. As the structure prediction can take a long time (from 5 to 90 minutes), this is mandatory if you want the structure to be predicted:</p>
<p id="emailwarn" style="color:red;"></p>
<p><input disabled id="email" size="50" type="text" /></p>
 <!--Hiding controls that will first be used in future versions
<p>Fasta file:</p>
<p><input id="fastafile" size="50" type="file" /></p>
-->
<p>Sequence:</p>
<p><textarea id="aaseq" cols="80" rows="4"></textarea></p>
 <!--Hiding controls that will first be used in future versions
<p>PDB files:</p>
<p><input id="pdbfiles" type="file" /></p>
<p>PDB ids:</p>
<p><input id="pdbids" size="80" type="text"/></p>
-->
<p>Structure prediction:</p>
<div>
<div><input checked="checked" disabled id="mode" name="mode" type="radio" value="structure" /> <label for="structure">Skip</label></div>
<div><input id="mode" name="mode" type="radio" value="wesa" /> <label for="wesa">Predict</label></div>
</div>
<p><input id="run" name="send" type="submit" value="Run" /></p>
<p id="userresult"></p>

</body>
</html>
